@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Segoe UI Light', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}
nav {
  top: 0;
  background: rgba(34, 34, 34, 0.9);
  padding: 25px 0;
  position: fixed;
  width: 100%;
}

#logo {
  height: 30px;
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

nav li  {
  text-decoration: none;
  text-transform: uppercase;
  font: 18px 'Lora', 'Trajan Pro 3', serif;
  color: white;
  float: left;
  display: inline-block;
  padding: 3px 0 0 50px;
}

nav li:hover {
  color: #ff757b;
}

#banner1 {
  display: table;
  min-height: 700px;
  width: 100%;
  background: url("../images/cover1-origin.jpg") no-repeat right center;
  background-size: cover;
  background-attachment: fixed;
}

#banner2 {
  display: table;
  height: 700px;
  width: 100%;
  background: url("../images/cover2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#banner3 {
  display: table;
  height: 700px;
  width: 100%;
  background: url("../images/cover3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#banner4 {
  display: table;
  height: 700px;
  width: 100%;
  background: url("../images/cover4.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.img-content {
  display: table-cell;
  text-align: center;
  padding-top: 450px
}

.img-content .header {
  font-size: 70px;
  color: #ed4b4e;
  margin: 0 auto;

}

.sub {
  margin: 0 auto;
  width: 70%;
  min-width: 750px;
  font-size: 30px;
  color: white;
  padding: 10px;
  background: rgba(202, 56, 58, 0.8);
  border-width: 1px;
  border-radius: 10px;
  font-weight: lighter;
}

.sub:hover {
    background: rgba(0, 0, 0, 0.8);
}

.smallsub {
  color: white;
  font-size: 25px;
  margin: 5px auto;
  font-weight: lighter;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}

.content {
  margin-bottom: 10px;
  width: 100%;
}

.c-header p {
  text-align: center;
  margin: 10px auto;
  font-size: 45px;
  text-transform: uppercase;
  color: #ca383a;
  border-width: 0 0 1px 0;
  border-color: #ca383a;
  border-style: solid;
  font-weight: lighter;
}

.content .info {
  width: 71%;
  margin: 0 auto;
  background: #ca383a;
  color: white;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 2;
  font-weight: lighter;
}



footer {
  text-align: center;
  padding: 10px 0;
}
footer a {
  text-decoration: none;
  color: darkgray;
}

@media only screen and (max-width: 811px), (orientation: portrait) {
  body {

  }

  #logo {
    min-height: 1.5em;
  }

  .c-header p {
    font-size: 3em;

  }
  .content .info {
    width: 90%;
    font-size: 1em;
    padding: 10px 20px;
  }

  .img-content .header {
    font-size: 8em;
  }

  .sub {
    line-height: 1.2;
    font-size: 2em;
    width: 70%;
    min-width: 0;
    margin: 0 auto;
  }

  .smallsub{
    font-size: 18px;
  }

  nav {
    padding: 2em 0;
  }
  nav,
  #logo,
  nav ul {
    text-align: center;
    float: none;
    margin: 0 auto;
  }

  nav li {
    font-size: 1em;
    padding: 5px 15px 0 15px;
    text-align: center;
    float: none;
}

}
