@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lora');

body, html {
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Segoe UI Light', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}
nav {
  top: 0;
  background: #234B4F;
  padding: 25px 0;
  position: fixed;
  width: 100%;
}

#logo {
  height: 25px;
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

nav li  {
  text-decoration: none;
  text-transform: uppercase;
  font: 18px 'Lora', 'Trajan Pro 3', serif;
  color: white;
  float: left;
  display: inline-block;
  padding: 3px 0 0 50px;
}

nav li:hover {
  color: #60D1DB;
}

#banner1 {
  display: table;
  margin: auto;
  background-image: url("../images/cover1-origin.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#banner2 {
  display: table;
  margin: auto;
  background-image: url("../images/cover2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#banner3 {
  display: table;
  margin: auto;
  background-image: url("../images/cover3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#banner4 {
  display: table;
  margin: auto;
  background-image: url("../images/cover4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.img-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.img-content .header {
  font-size: 70px;
  color: #ed4b4e;
  margin: 0 auto;

}

.sub {
  margin: 0 auto;
  min-width: 750px;
  font-size: 30px;
  color: #60D1DB;
  padding: 10px;
  border-width: 1px;
  font-weight: bold;
}


.smallsub {
  color: white;
  font-size: 25px;
  margin: 5px auto;
  font-weight: lighter;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}

.content {
  width: 100%;
}

.c-header p {
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  text-transform: uppercase;
  color: white;

  background-color: #234B4F;
  font-weight: bold;
}

  .info {

  margin: 0 auto;
  background: #60D1DB;
  color: #234B4F;
  padding: 20px 15%;
  font-size: 20px;
  line-height: 2;
  font-weight: regular;
}



footer {
  color: #234B4F;
  text-align: center;
  padding: 10px 0;
  background-color: #60D1DB;
}
footer a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 811px), (orientation: portrait) {
  #logo {
    min-height: 4.5em;
  }

  .c-header p {
    font-size: 8em;
    border-width: 0 0 3px 0;
    width: 100%;

  }
    .info {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    padding: 1em 2em;
  }

  .img-content .header {
    font-size: 8em;
  }

  .sub {
    line-height: 1.2;
    font-size: 4em;
    width: 70%;
    min-width: 0;
    margin: 0 auto;
  }

  .smallsub{
    font-size: 18px;
  }

  nav {
    padding: 2em 0;
  }
  nav,
  #logo,
  nav ul {
    text-align: center;
    float: none;
    margin: 0 auto;
  }

  nav li {
    font-size: 2.5em;
    padding: 0.5em 1em 0 1em;
    text-align: center;
    float: none;
}

.footer {
  font-size: 0.5em;
}

}
